/* General body styling */
body {
  background: #6f1482;
  position: relative;
  overflow: hidden;
    margin: 0;
  height: 100vh;

  background: linear-gradient(-45deg, #060b4f, #363eb1,#7077e3, #b6baea);
  background-size: 400% 400%;

  animation: gradientMove 8s ease infinite;
  font-family: 'Times New Roman', Times, serif;
}

.light-beam {
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    transparent 40%,
    rgba(255, 219, 219, 0.4) 50%,
    transparent 60%
  );
  animation: sweep 5s infinite linear;
}

<<<<<<< HEAD
@keyframes sweep {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}


=======
>>>>>>> 4909148d9e4bc276f6500161281fa165fe6885b0
.center-line {
    display: block;
    text-align: center;
    font-weight: bold;
}
.about-hostel {
    width: 70%;
    margin: 60px auto;   /* centers horizontally */
    text-align: center;
}
.about-hostel h2 {
    color: white;
}

.about-hostel p {
    font-size: 18px;
    line-height: 1.6;
}

/* Navbar container */
.navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    
    
}



/* Nav links */
.navigation-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    
}

.navigation-links li {
    display: inline;
}

.navigation-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navigation-links a:hover {
    color: blue;
}
<<<<<<< HEAD
=======

.nav_logo img {
    height: 100px;   /* adjust size */
    width: auto;
}
>>>>>>> 4909148d9e4bc276f6500161281fa165fe6885b0
