/* General body styling */
body {
  background: #7077e3;
  position: relative;
  overflow: hidden;
    margin: 0;
  height: 100vh;

  background:  radial-gradient(circle at 20% 20%, #5c5185, #241f4b);
  background: linear-gradient(-45deg, #6d648d);
  background-size: 400% 400%;

  animation: gradientMove 8s ease infinite;
  font-family: 'Times New Roman', Times, serif;
}



@keyframes sweep {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}


.center-line {
    display: block;
    text-align: center;
    font-weight: bold;
}
.about-hostel {
    width: 70%;
    margin: 60px auto;   /* centers horizontally */
    text-align: center;
}
.about-hostel h2 {
    color: white;
}

.about-hostel p {
    font-size: 18px;
    line-height: 1.6;
}

/* Navbar container */
.navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    
    
    
}
/* Nav links */
.navigation-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    
}

.navigation-links li {
    display: inline;
}

.navigation-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navigation-links a:hover {
    color: blue;
}

.nav_logo img {
    height: 100px;   /* adjust size */
    width: auto;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 8%;
  min-height: 100vh;
  background: radial-gradient(circle at 20% 20%, #5c5185, #241f4b);
  color: white;
  overflow: hidden;
}

/* LEFT SIDE */
.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 48px;
  line-height: 1.2;
  
}

.hero-left span {
  color: #9c6bff;
}

.hero-left p {
  margin-top: 20px;
  color: #cfcfcf;
  width: 80%;
}

/* RIGHT SIDE */
.hero-right {
  width: 50%;
  position: relative;
  height: 500px;
}

/* CARD STYLE */
.service-card {
  position: absolute;
  width: 260px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.service-card h3 {
  margin-top: 15px;
  font-size: 18px;
}

.service-card p {
  margin-top: 8px;
  font-size: 14px;
  color: #cccccc;
}

.service-card:hover {
  transform: translateY(-10px);
}

/* INDIVIDUAL POSITIONS */
.card1 {
  top: -100px;
  right: 150px;
  transform: rotate(-6deg);
  background: linear-gradient(135deg,#20176349, #a59fba86, );
}

.card2 {
  top: 50px;
  right: 30px;
  transform: rotate(5deg);
  background: linear-gradient(135deg, #a59fba86, #20176349);
}



/* FLOATING ANIMATION - CARD 1 (UP) */
@keyframes floatUp {
  0% { transform: translateY(0px) rotate(-6deg); }
  50% { transform: translateY(-15px) rotate(-6deg); }
  100% { transform: translateY(0px) rotate(-6deg); }
}

.card1 {
  animation: float 6s ease-in-out infinite;
  animation: floatUp 6s ease-in-out infinite;
}


/* FLOATING ANIMATION - CARD 2 (DOWN) */
@keyframes floatDown {
  0% { transform: translateY(0px) rotate(5deg); }
  50% { transform: translateY(15px) rotate(5deg); }
  100% { transform: translateY(0px) rotate(5deg); }
}

.card2 {
  animation: floatDown 6s ease-in-out infinite;
}

