/* General body styling */
body {
    background-color: rgb(255, 255, 227);
    font-family: Arial, sans-serif;
}
.center-line {
    display: block;
    text-align: center;
    font-weight: bold;
}
.about-hostel {
    width: 70%;
    margin: 60px auto;   /* centers horizontally */
    text-align: center;
}
.about-hostel h2 {
    color: #0d6efd;
}

.about-hostel p {
    font-size: 18px;
    line-height: 1.6;
}
.image-box {
    display: flex;
    justify-content: center;
}
/* Navbar container */
.navgationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d6efd;
    padding: 15px 30px;
    border: 2px solid black;
    
}



/* Nav links */
.navigation-links {
    list-style: none;
    display: flex;
    gap: 20px;
    border: 2px solid black;
}

.navigation-links li {
    display: inline;
}

.navigation-links a {
    text-decoration: none;
    color: #0d6efd;
    font-weight: 500;
}

.navigation-links a:hover {
    color: yellow;
}