/* General body styling */
body {
    margin: 0;
  height: 100vh;

  background: linear-gradient(-45deg, #060b4f, #363eb1,#7077e3, #b6baea);
  background-size: 400% 400%;

  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

}
.center-line {
    display: block;
    text-align: center;
    font-weight: bold;
}
.about-hostel {
    width: 70%;
    margin: 60px auto;   /* centers horizontally */
    text-align: center;
}
.about-hostel h2 {
    color: white;
}

.about-hostel p {
    font-size: 18px;
    line-height: 1.6;
}

/* Navbar container */
.navgationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d6efd;
    padding: 15px 30px;
    
    
}



/* Nav links */
.navigation-links {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-top: 50px;
    
}

.navigation-links li {
    display: inline;
}

.navigation-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navigation-links a:hover {
    color: red;
}