/* login.css */

body {
    margin: 0;
    padding-top: 250px; 
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    
    background: 
        linear-gradient(rgba(36, 31, 75, 0.7), rgba(36, 31, 75, 0.7)), 
        url("GNE HOSTELS.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    background: transparent;   /* remove color */
    color: white;
    
    position: absolute;  /* sit on top of image */
    top: 0;
    left: 0;
}
.header h1 {
    margin: 0;
    text-shadow: 0 2px 10px rgba(0,0,0,0.5);
    text-align: center;
}

.login-container {
    background: #b7b5db;
    width: 500px;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    margin: 120px auto;
    margin: 60px auto; /* centers horizontally + spacing from top */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #444;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #4facfe;
}

button {
    width: 100%;
    padding: 12px;
    background: #5c5185;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #5c5185;
}

.extra-links {
    text-align: center;
    margin-top: 15px;
}

.extra-links a {
    text-decoration: none;
    color: #5c5185;
    font-size: 14px;
}

.extra-links a:hover {
    text-decoration: underline;
}